[submodule "workflow/scripts/stv_fix"]
	path = workflow/scripts/stv_fix
	url = https://github.com/koisland/stv.git
[submodule "workflow/rules/CDR-Finder"]
	path = workflow/rules/CDR-Finder
	url = https://github.com/logsdon-lab/CDR-Finder
