[submodule "workflow/scripts/stv_fix"]
	path = workflow/scripts/stv_fix
	url = git@github.com:koisland/stv.git
[submodule "workflow/scripts/StainedGlassV5"]
	path = workflow/scripts/StainedGlassV5
	url = git@github.com:koisland/StainedGlass.git
	branch = fix/pre-v8
