[submodule "workflow/scripts/stv_fix"]
	path = workflow/scripts/stv_fix
	url = git@github.com:koisland/stv.git
[submodule "workflow/scripts/ModDotPlot"]
	path = workflow/scripts/ModDotPlot
	url = https://github.com/marbl/ModDotPlot
