*.env
*.sif
.snakemake
logs*/
results*/
benchmarks*/
venv/
temp*/
exp/
Dockerfile

RM_*
.RepeatMaskerCache/

__pycache__
.ipynb_checkpoints

.Rproj.user
*.Rproj
.RData
.Rhistory
.Rprofile
renv/
renv.lock
Rplots.pdf
